@model List<SignalR.Entities.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul class="list-group">
    @foreach (var product in Model)
    {
        <li class="list-group-item">@product.ProductID, @product.ProductName</li>        
    }
</ul>

